.navbar{
  background: black url(assets/images/star-fall.png) no-repeat !important;
  background-position: right  !important;
  background-size: contain  !important;
}

.mobileNavbar{
  background: black url(assets/images/star-fall.png) no-repeat !important;
  margin: 0 !important;
  padding: 10px !important;
  height:80px;
}


.fixed{
  position:fixed;
  top: 0;
}

.noMargin{
  margin:-15px;
}