html, body {
    font-family: 'cuprumregular', sans-serif, Arial;
}

* {
    box-sizing: border-box;
}

.plain-text{
    font-size: 16px;
    color: rgb(32, 120, 148);
    font-family: Helvetica;
}

a.image-link {
    display: inline-block;
    > img {
        max-width: 100%;
        max-height: 100%;
    }
}

.page-content {
    background: $page-background;
    min-height: 100vh;
    header ~ & {
        padding-top: 70px;
    }
    .leftNavigation ~ & {
        padding-left: 182px;
    }
}

.hidden {
    display: none !important;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    border: 1em solid transparent;
    &.top {
        border-bottom-color: currentColor;
        border-top: none;
    }
    &.right {
        border-left-color: currentColor;
        border-right: none;
    }
    &.bottom {
        border-top-color: currentColor;
        border-bottom: none;
    }
    &.left {
        border-right-color: currentColor;
        border-left: none;
    }
}

.rightLink {
	float: right;
	color: $primary-color;
    text-decoration: none;
	font-size: 10px;
	line-height: 34px;
    &:hover, &:focus, &:active {
        color: $primary-color;
        text-decoration: underline;
    }
}

.container-wrap {
    position: relative;
    padding: 30px 0px;
    min-height: calc(100vh - 70px);
}
