// Path variables
$font-path:             "/assets/fonts";
$image-path:            "/assets/images";

// Color variables
$page-background:       white; //#313131;
$primary-color:         #f05424;
$carousel-bg:           #6C8895;
$primary-foreground:    #313131;
$brand-blue:            #314C72;
$brand-orange:          #ff6559;
$header-bg:             #171515;
$footer-bg:             #171515;
$nav-bg:                #2B3940;
$nav-foreground:        #6C8895;
$text-color:            #ED9224;
$link-color:            #89D1FF;
$primary-text-color: #eaeaea;
$file-name:             #669699;
$border-color:          #E8E3D6;
$list-info:             #383d3b;
$item-name:             #3b3d3b;
$label-color:           #3b3d3b;
$counter-background:    #f5f5f2;
$header-separator:      #99968c;
$secondary-color:       #ABBA5E;

// Form variables
$checkbox-tick:         $brand-blue;
$input-focus-border:    $brand-blue;
$input-border-color:    #e9e4d8;
$error-color:           $brand-orange;
$input-error-color:     $brand-orange;
$input-placeholder:     #a29f96;
$textarea-placeholder:  #99968c;
//75A2C1