@import '~styles/variables';

.uploadModalOpen {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;
  text-align: center;
  padding: 30px 0;
  &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
}

.modalWrap {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    width: 625px;
    background: #ffffff;
    border-radius: 6px;
}

.modalHeader {
  position: relative;
  padding: 13px 65px 13px 30px;
  > a {
    position: absolute;
    right: 23px;
    top: 23px;
    color: $primary-color;
    cursor: pointer;
  }
  > h3 {
    font-weight: 600;
    margin: 0;
  }
}

.modalBody {
    padding: 17px 35px;
}

.dropzone {
  padding: 34px 0;
  background: $header-bg;
  border: 1px dashed #e8e3d6;
  border-radius: 20px;
  > h3 {
    text-align: center;
    color: $border-color;
    margin: 0;
  }
}

.dropzoneActive {
  border-color: $primary-color;
}

.uploadFilesWrap {
  padding-top: 80px;
  p {
    flex-grow: 0;
    flex-basis: 25%;
    width: 25%;
    padding-right: 10px;
    font-size: 10px;
    line-height: 1.25;
    margin: 0;
    > span {
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
  }
}

.uploadingFile {
  margin-bottom: 10px;
}
