@import "../../styles/variables";
@import "../../styles/fonts";
@import "../../styles/base";




.heading{
  background: black url("assets/images/backgrounds/background.png") no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat!important;;
  background-color: #05192b !important;
}

.accolades{
  background:#072137 url('assets/images/backgrounds/background.png') !important;
  background-size: cover !important;
  background-position: center center !important;
}

