@import '~styles/variables';
@import '~styles/mixins';

.thumbnailCard {
  padding: 3px;
  position: relative;
  margin-bottom: 10px;
  width: 224px;
  img {
    display: block;
    margin: auto;
  }
}

.thumbnailInput {
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.thumbnailText {
  @include clearfix();
  padding: 0 5px;
  margin-bottom: 15px;
}

.thumbnailCopy {
  font-weight: 600;
  color: $label-color;
}

.iconWrap {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

a.iconWrap {
  cursor: pointer;
}

.thumbnailIcons {
  color: $primary-color;
  font-size: 18px;
  &:hover, &:focus, &:active {
    color: $primary-color;
  }
}

.progressWrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  font-size: 10px;
  overflow: hidden;
}
